In [2]:
import os, os.path
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns
import re
import cv2

In [9]:
directory = 'MC2-Image-Data/'

In [10]:
file_list = []
caption_list = []
text_list = []
img_list = []
img_paths = []
for root, dirs, files in os.walk(directory):
    for file in files:
        if file.endswith('.csv'):
            file_list.append(os.path.abspath(root)+ '/' + file)
        if 'caption.txt' in file:
            caption_list.append(os.path.abspath(root)+ '/' + file)
        if 'text' in file:
            text_list.append(os.path.abspath(root) + '/' + file)
        if file.endswith('.jpg'):
            img_paths.append(os.path.abspath(root) + '/' + file)
            img_list.append(file)
# caption_list
img = pd.DataFrame(img_list)
img.columns =['Image']
img.head()

             Image
0   Person33_5.jpg
1   Person33_4.jpg
2  Person33_60.jpg
3  Person33_48.jpg
4   Person33_6.jpg

In [11]:
len(img_list)

907

In [12]:
len(file_list)

907

In [15]:
# img_paths

In [16]:
# img['PersonId'] = img['Image'].apply(lambda x: x.split('_')[0][6:])
img['ImageId'] = img['Image'].apply(lambda x: x.split('.')[0][6:])
img.head()

             Image ImageId
0   Person33_5.jpg    33_5
1   Person33_4.jpg    33_4
2  Person33_60.jpg   33_60
3  Person33_48.jpg   33_48
4   Person33_6.jpg    33_6

In [17]:
# text_list

In [18]:
def read_csv(path):
    df = pd.read_csv(path, encoding= 'unicode_escape',dtype=str)
    df['PersonId'] = os.path.split(path)[1].split('_')[0][6:]
    df['ImageId'] = os.path.split(path)[1].split('.')[0][6:]
    return df

def read_txt(path, colName):
    df = pd.read_csv(path, sep='\t', encoding= 'unicode_escape', header=None, names=[colName])
    name = os.path.split(path)[1]
    if 'text' in name:
        df['TextId'] = name[6:-4]
    else:
#         df['PersonId'] = os.path.split(path)[1].split('_')[0][6:]
        df['ImageId'] = os.path.split(path)[1].split('.')[0][6:-7]
    return df

In [19]:
cap_list = []
txt_list = []
for file in caption_list:
    cap_df = read_txt(file, 'Caption')
    cap_list.append(cap_df)
for file in text_list:
    txt_list.append(read_txt(file, 'Text'))
cap = pd.concat(cap_list).reset_index(drop=True)
txt = pd.concat(txt_list).reset_index(drop=True)

In [20]:
cap.head()

                                             Caption ImageId
0                           Tortoise racing for life   33_42
1  Be the pop of color that can illuminate the mo...   33_17
2                   Tortoise at Gym building Muscles   33_31
3                  Rolling dice in a stable position   33_53
4  The things are not always where you think they...    33_1

In [21]:
txt.head()

                                                Text    TextId
0  You come home to find a single lit pink candle...  35_text3
1       Green turtles are a good investment Buy now!  35_text2
2     This trophy is a good prize for my win in HotS  35_text1
3  The benefit of the maple leaf pencil is that y...  35_text5
4  My cats enjoyed playing soccer with this eyeba...  35_text4

In [22]:
# im_cap = pd.merge(cap, img, how='outer', on='ImageId')
# im_cap

In [23]:
# cap.to_json('caption.json', orient='records')
# txt.to_json('text.json', orient='records')

In [28]:
df_list = []
for file in file_list:
    df = read_csv(file)
    df_list.append(df)
# df_list

In [29]:
concat_df = pd.concat(df_list).reset_index(drop=True)
concat_df.shape

(4491, 8)

In [30]:
concat_df.head(10)

      x     y Width Height    Score           Label PersonId ImageId
0   377   202  1237   1502  0.31465       cloudSign       33   33_40
1  2003   515   296   1361  0.48349      pinkCandle       33   33_40
2   229   273  2137   1825  0.34838    pumpkinNotes       33   33_40
3  1560   111  1210   2127  0.36762            sign       33   33_40
4   515   565  1341   2608  0.29639        birdCall       33   33_54
5   666  1143  1482   2514  0.29539    pumpkinNotes       33   33_54
6   797  1748  1200   1398  0.31314      redWhistle       33   33_54
7    11   269  1089   3750  0.47006            sign       33   33_54
8  1422  2366  1250   1680   0.3209     silverStraw       33   33_54
9   595  1143  1170    861  0.27061  blueSunglasses       33   33_54

In [32]:
concat_df["ImageId"].value_counts()

13_1     13
13_27    13
32_12    13
25_22    12
35_8     12
         ..
3_21      1
11_13     1
38_2      1
11_3      1
17_46     1
Name: ImageId, Length: 894, dtype: int64

In [16]:
columns = ['x','y','Width','Height','Score']
for col in columns:
    try:
        concat_df[col] = pd.to_numeric(concat_df[col], errors='coerce')
#         concat_df[col].astype('str').astype('int')

    except:
        pass

In [17]:
concat_df.dtypes

x           float64
y           float64
Width         int64
Height        int64
Score       float64
Label        object
PersonId     object
ImageId      object
dtype: object

In [18]:
# concat_df.to_json('data.json', orient='records')

In [19]:
# df = pd.merge(concat_df, concat_txt, how='outer', on='PersonId')
# df[df['Label'].isnull()]

In [20]:
# df[df['x'].isnull()]

In [21]:
# df

In [22]:
# df.to_json('data_with_cap.json', orient='records')

In [23]:
d = concat_df.groupby(['PersonId'],as_index=False).agg({'Score': np.max })
d

   PersonId    Score
0         1  0.55821
1        10  0.70150
2        11  0.64507
3        12  0.71554
4        13  0.76247
5        14  0.79328
6        15  0.61677
7        16  0.67681
8        17  0.79887
9        18  0.90730
10       19  0.81419
11        2  0.81155
12       20  0.68768
13       21  0.63190
14       22  0.55136
15       23  0.91488
16       24  0.69456
17       25  0.87532
18       26  0.63087
19       27  0.52854
20       28  0.86190
21       29  0.78118
22        3  0.80800
23       30  0.71712
24       31  0.88468
25       32  0.79260
26       33  0.89167
27       34  0.88604
28       35  0.68321
29       36  0.84879
30       37  0.97645
31       38  0.84106
32       39  0.91195
33        4  0.72378
34       40  0.81999
35        5  0.66718
36        6  0.83953
37        7  0.85849
38        8  0.67239
39        9  0.81436

In [24]:
labels = concat_df.groupby(['Label'],as_index=False).agg({'Score': np.max })['Label']
list(labels)

['birdCall',
 'blueSunglasses',
 'canadaPencil',
 'cloudSign',
 'cupcakePaper',
 'eyeball',
 'hairClip',
 'lavenderDie',
 'metalKey',
 'noisemaker',
 'paperPlate',
 'partyFavor',
 'pinkCandle',
 'pumpkinNotes',
 'redWhistle',
 'sign',
 'silverStraw',
 'stickerBox',
 'trophy',
 'vancouverCards',
 'yellowBag',
 'yellowBalloon']

In [25]:

def missing_ratio(df):
    '''
    INPUT: 
        - df : data frame to check
    OUTPUT: 
        - new_df : new dataframe with counts and ratio of missing values in each category
    '''              
    
    count = df.isnull().sum().sort_values(ascending = False)
    ratio = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
    new_df = pd.concat([count, ratio], axis=1, keys=['Count', 'Ratio'])
    return new_df

In [26]:
missing_ratio(concat_df)

          Count     Ratio
x            74  1.647740
y            73  1.625473
ImageId       0  0.000000
PersonId      0  0.000000
Label         0  0.000000
Score         0  0.000000
Height        0  0.000000
Width         0  0.000000

In [27]:
concat_df['Label'].value_counts()

eyeball           501
cloudSign         482
sign              465
pinkCandle        415
blueSunglasses    352
birdCall          324
yellowBag         286
pumpkinNotes      271
hairClip          231
lavenderDie       200
redWhistle        181
cupcakePaper      135
metalKey          134
canadaPencil      116
stickerBox         92
partyFavor         91
trophy             68
silverStraw        58
yellowBalloon      30
noisemaker         26
paperPlate         22
vancouverCards     11
Name: Label, dtype: int64

In [28]:
person40 = concat_df[concat_df['PersonId'].str.startswith('40_')]
person40

Empty DataFrame
Columns: [x, y, Width, Height, Score, Label, PersonId, ImageId]
Index: []

In [29]:
# im = cv2.imread('MC2-Image-Data/Person1/Person1_1.jpg')
# gray = cv2.cvtColor(im, cv2.COLOR_BGR2GRAY)

In [30]:
# crop = gray[1310: 1586, 1502: 2258]
# cv2.imshow('test', crop)
# cv2.waitKey(0)
# cv2.destroyAllWindows()

In [31]:
concat_df.head()

        x      y  Width  Height    Score         Label PersonId ImageId
0   377.0  202.0   1237    1502  0.31465     cloudSign       33   33_40
1  2003.0  515.0    296    1361  0.48349    pinkCandle       33   33_40
2   229.0  273.0   2137    1825  0.34838  pumpkinNotes       33   33_40
3  1560.0  111.0   1210    2127  0.36762          sign       33   33_40
4   515.0  565.0   1341    2608  0.29639      birdCall       33   33_54

In [32]:
concat_df[concat_df["x"].isnull()]

       x   y  Width  Height    Score           Label PersonId ImageId
237  NaN NaN   2299    1360  0.85100      redWhistle       33   33_28
1245 NaN NaN   1573    1544  0.86190      redWhistle       28    28_6
1246 NaN NaN   1296     922  0.34825        hairClip       28    28_6
1336 NaN NaN   2264    1671  0.33267        birdCall       26    26_6
1337 NaN NaN    415    1141  0.26439      pinkCandle       26    26_6
...   ..  ..    ...     ...      ...             ...      ...     ...
4448 NaN NaN   2160    1867  0.54900    pumpkinNotes       15   15_13
4449 NaN NaN   1919    1521  0.32624          trophy       15   15_13
4450 NaN NaN   2126    1152  0.46949  blueSunglasses       15   15_13
4451 NaN NaN   1296    1279  0.46236        hairClip       15   15_13
4452 NaN NaN   1158    1567  0.41891      stickerBox       15   15_13

[74 rows x 8 columns]

In [33]:
concat_df[concat_df["y"].isnull()]

       x   y  Width  Height    Score           Label PersonId ImageId
237  NaN NaN   2299    1360  0.85100      redWhistle       33   33_28
1245 NaN NaN   1573    1544  0.86190      redWhistle       28    28_6
1246 NaN NaN   1296     922  0.34825        hairClip       28    28_6
1336 NaN NaN   2264    1671  0.33267        birdCall       26    26_6
1337 NaN NaN    415    1141  0.26439      pinkCandle       26    26_6
...   ..  ..    ...     ...      ...             ...      ...     ...
4448 NaN NaN   2160    1867  0.54900    pumpkinNotes       15   15_13
4449 NaN NaN   1919    1521  0.32624          trophy       15   15_13
4450 NaN NaN   2126    1152  0.46949  blueSunglasses       15   15_13
4451 NaN NaN   1296    1279  0.46236        hairClip       15   15_13
4452 NaN NaN   1158    1567  0.41891      stickerBox       15   15_13

[73 rows x 8 columns]

In [34]:
concat_df[concat_df["Width"].isnull()]

Empty DataFrame
Columns: [x, y, Width, Height, Score, Label, PersonId, ImageId]
Index: []

In [35]:
concat_df[concat_df["Height"].isnull()]

Empty DataFrame
Columns: [x, y, Width, Height, Score, Label, PersonId, ImageId]
Index: []

In [36]:
concat_df[concat_df["ImageId"] == "33_1"].iloc[:, :4].values.tolist()

[[473.0, 197.0, 135.0, 406.0],
 [262.0, 5.0, 142.0, 278.0],
 [312.0, 871.0, 156.0, 376.0],
 [240.0, 13.0, 80.0, 244.0]]

In [37]:
concat_df[concat_df["ImageId"] == "33_1"][["x", "y", "Width", "Height", "Label"]]

         x      y  Width  Height        Label
313  473.0  197.0    135     406    cloudSign
314  262.0    5.0    142     278      eyeball
315  312.0  871.0    156     376     hairClip
316  240.0   13.0     80     244  lavenderDie

In [38]:
cordinates = concat_df[concat_df["ImageId"] == "33_1"][["x", "y", "Width", "Height", "Label"]].values.tolist()   
cordinates

[[473.0, 197.0, 135, 406, 'cloudSign'],
 [262.0, 5.0, 142, 278, 'eyeball'],
 [312.0, 871.0, 156, 376, 'hairClip'],
 [240.0, 13.0, 80, 244, 'lavenderDie']]

In [39]:
concat_df[concat_df["y"].isnull()]

       x   y  Width  Height    Score           Label PersonId ImageId
237  NaN NaN   2299    1360  0.85100      redWhistle       33   33_28
1245 NaN NaN   1573    1544  0.86190      redWhistle       28    28_6
1246 NaN NaN   1296     922  0.34825        hairClip       28    28_6
1336 NaN NaN   2264    1671  0.33267        birdCall       26    26_6
1337 NaN NaN    415    1141  0.26439      pinkCandle       26    26_6
...   ..  ..    ...     ...      ...             ...      ...     ...
4448 NaN NaN   2160    1867  0.54900    pumpkinNotes       15   15_13
4449 NaN NaN   1919    1521  0.32624          trophy       15   15_13
4450 NaN NaN   2126    1152  0.46949  blueSunglasses       15   15_13
4451 NaN NaN   1296    1279  0.46236        hairClip       15   15_13
4452 NaN NaN   1158    1567  0.41891      stickerBox       15   15_13

[73 rows x 8 columns]

In [40]:
d = concat_df.set_index(['PersonId', 'Label'], drop=False)
d

                            x      y  Width  Height    Score         Label  \
PersonId Label
33       cloudSign      377.0  202.0   1237    1502  0.31465     cloudSign
         pinkCandle    2003.0  515.0    296    1361  0.48349    pinkCandle
         pumpkinNotes   229.0  273.0   2137    1825  0.34838  pumpkinNotes
         sign          1560.0  111.0   1210    2127  0.36762          sign
         birdCall       515.0  565.0   1341    2608  0.29639      birdCall
...                       ...    ...    ...     ...      ...           ...
15       pumpkinNotes   416.0    6.0    464     662  0.25546  pumpkinNotes
         sign           476.0  224.0    328    1382  0.61677          sign
         noisemaker       4.0    6.0    600     934  0.30253    noisemaker
         pumpkinNotes   636.0  763.0    540     843  0.31760  pumpkinNotes
         sign           900.0    6.0    304     955  0.34451          sign

                      PersonId ImageId
PersonId Label
33       cloudSign          33   33_40
         pinkCandle         33   33_40
         pumpkinNotes       33   33_40
         sign               33   33_40
         birdCall           33   33_54
...                        ...     ...
15       pumpkinNotes       15    15_3
         sign               15    15_3
         noisemaker         15    15_1
         pumpkinNotes       15    15_1
         sign               15    15_1

[4491 rows x 8 columns]

In [41]:
# d.to_json('h.json', orient='records')

In [42]:
# def crop_image(path, x, y, w, h):
#     """
#     Function to crop an image based on cordinates of bounding box
#     """
#     img = cv2.imread(path)
#     crop = img[y: y+h, x: x+w].copy()
#     cv2.imwrite(save_location, crop)

In [44]:
# crop_image('MC2-Image-Data/Person2/Person2_3.jpg', 1076, 474, 1035, 1049, 'MC2-Image-Data/test.jpg')
# crop_image('MC2-Image-Data/Person1/Person1_2.jpg', 2984, 242,1062, 2712, 'MC2-Image-Data/test1.jpg')

In [ ]:
# img_paths

In [ ]:
def crop_image(path,df):
    """
    Function to crop an image based on cordinates of bounding box
    """
    img = cv2.imread(path)
    image_id = os.path.split(path)[1][6:-4]
    # Create a list of cordinate lists with [x, y, width, height]
    cordinates = concat_df[concat_df["ImageId"] == image_id][["x", "y", "Width", "Height", "Label"]].dropna().values.tolist()
    for cord in cordinates:
        x, y, w, h, label = int(cord[0]), int(cord[1]), int(cord[2]), int(cord[3]), cord[4]
        crop = img[y: y+h, x: x+w].copy()
        cv2.imwrite('/Users/jaywang/Documents/TTU_study/VAST2020_MC2/MC2-Image-Data/croped/{}-{}.jpg'.format(image_id, label ), crop)

In [ ]:
# for path in img_paths:
#     crop_image(path, concat_df)

In [ ]:
# crop_image('/Users/jaywang/Documents/TTU_study/VAST2020_MC2/MC2-Image-Data/Person10/Person10_1.jpg',concat_df
# )

In [ ]:
def create_other_size(image, file_name, dim, location):
  # 1 => width index, 0 => height index
  try:
    if image.shape[0] > image.shape[1]:
        cropped = crop_portrait(image, dim)
    else:
        cropped = crop_landscape(image, dim)

    cv2.imwrite(os.path.join(location, file_name), cropped)

    except Exception, ex:
      pass

In [ ]:
# Read ground truth data

In [16]:
gt_df = pd.read_csv("data/groundTruth.csv")
gt_df.head()

,ID,DataRow ID,Labeled Data,Label,Created By,Project Name,Created At,Updated At,Seconds to Label,External ID,Agreement,Benchmark Agreement,Benchmark ID,Benchmark Reference ID,Dataset Name,Reviews,View Label
0,ckamnukq44ggy0700m611vb47,ckam1kxzzunxz0blt945shd4f,https://storage.labelbox.com/ckaeu3r68fki00700...,"{""objects"":[{""featureId"":""ckamnfxos0w2k0zbzlua...",guojian0706@gmail.com,Object detection,1.590420e+12,1.590420e+12,360.879,Person37_9.jpg,-1,-1,NaN,NaN,Object detection,[],https://editor.labelbox.com?project=ckam1mc1hp...
1,ckamnvz7x4gqr07006mp1fee7,ckam1kxxyulo70blta89b4a91,https://storage.labelbox.com/ckaeu3r68fki00700...,"{""objects"":[{""featureId"":""ckamnuyr40wqc0zbz59n...",guojian0706@gmail.com,Object detection,1.590420e+12,1.590420e+12,64.935,Person5_41.jpg,-1,-1,NaN,NaN,Object detection,[],https://editor.labelbox.com?project=ckam1mc1hp...
2,ckamnwjoyz9tj0853s8nu5yub,ckam1ky01uo1j0blt35js4bk9,https://storage.labelbox.com/ckaeu3r68fki00700...,"{""objects"":[{""featureId"":""ckamnwhn7106h0zd7l38...",guojian0706@gmail.com,Object detection,1.590420e+12,1.590420e+12,26.130,Person39_1.jpg,-1,-1,NaN,NaN,Object detection,[],https://editor.labelbox.com?project=ckam1mc1hp...
3,ckamnwtvayuhn0738w4rcg9kj,ckam1kxy2ulrr0bltf7ohfk5c,https://storage.labelbox.com/ckaeu3r68fki00700...,{},guojian0706@gmail.com,Object detection,1.590420e+12,1.590420e+12,12.688,Person6_30.jpg,-1,-1,NaN,NaN,Object detection,[],https://editor.labelbox.com?project=ckam1mc1hp...
4,ckamnxc4dh27c0751lz5m99f9,ckam1kxy4ulvb0blt54fk2en1,https://storage.labelbox.com/ckaeu3r68fki00700...,"{""objects"":[{""featureId"":""ckamnx7u610b90zdrjlb...",guojian0706@gmail.com,Object detection,1.590420e+12,1.590420e+12,23.234,Person9_6.jpg,-1,-1,NaN,NaN,Object detection,[],https://editor.labelbox.com?project=ckam1mc1hp...

In [17]:
gt = gt_df[['Label', 'External ID']]
gt.head()

                                               Label     External ID
0  {"objects":[{"featureId":"ckamnfxos0w2k0zbzlua...  Person37_9.jpg
1  {"objects":[{"featureId":"ckamnuyr40wqc0zbz59n...  Person5_41.jpg
2  {"objects":[{"featureId":"ckamnwhn7106h0zd7l38...  Person39_1.jpg
3                                                 {}  Person6_30.jpg
4  {"objects":[{"featureId":"ckamnx7u610b90zdrjlb...   Person9_6.jpg

In [18]:
gt.shape

(907, 2)

In [22]:
gt['Label'][0]

'{"objects":[{"featureId":"ckamnfxos0w2k0zbzlua14jrq","schemaId":"ckam25tlz01la0zd7jn5s2z0e","title":"cloudSign","value":"cloudsign","color":"#00FFFF","bbox":{"top":427,"left":288,"height":650,"width":672},"instanceURI":"https://api.labelbox.com/masks/feature/ckamnfxos0w2k0zbzlua14jrq?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJja2FldTNyNnRma2k3MDcwMDRuMThubnl1Iiwib3JnYW5pemF0aW9uSWQiOiJja2FldTNyNjhma2kwMDcwMHJ5NHE2bXJpIiwiaWF0IjoxNTkwNTIzMTEwLCJleHAiOjE1OTMxMTUxMTB9.WeItFrBLe_qTwkJV9bpIkSbyv4rZQK8fDoZP6qovVBI"},{"featureId":"ckamngyho0zlb0zdrxtea8pbk","schemaId":"ckam25tm201m40zd73yigby4k","title":"noisemaker","value":"noisemaker","color":"#FF00FF","bbox":{"top":335,"left":2842,"height":2634,"width":730},"instanceURI":"https://api.labelbox.com/masks/feature/ckamngyho0zlb0zdrxtea8pbk?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJja2FldTNyNnRma2k3MDcwMDRuMThubnl1Iiwib3JnYW5pemF0aW9uSWQiOiJja2FldTNyNjhma2kwMDcwMHJ5NHE2bXJpIiwiaWF0IjoxNTkwNTIzMTEwLCJleHAiOjE1OTMxMTUxMTB9.WeItFrBLe_qTwkJV9bpIkSbyv4rZQK8fDoZP6qovVBI"},{"featureId":"ckamnhjl90zi20zd7jnsg57ud","schemaId":"ckam25tm201m40zd73yigby4k","title":"noisemaker","value":"noisemaker","color":"#FF00FF","bbox":{"top":335,"left":3223,"height":2664,"width":763},"instanceURI":"https://api.labelbox.com/masks/feature/ckamnhjl90zi20zd7jnsg57ud?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJja2FldTNyNnRma2k3MDcwMDRuMThubnl1Iiwib3JnYW5pemF0aW9uSWQiOiJja2FldTNyNjhma2kwMDcwMHJ5NHE2bXJpIiwiaWF0IjoxNTkwNTIzMTEwLCJleHAiOjE1OTMxMTUxMTB9.WeItFrBLe_qTwkJV9bpIkSbyv4rZQK8fDoZP6qovVBI"},{"featureId":"ckamniynt0zoq0zdrljcyh23e","schemaId":"ckam25tm201m60zd7hrwuocku","title":"paperPlate","value":"paperplate","color":"#FF0000","bbox":{"top":298,"left":1038,"height":888,"width":1000},"instanceURI":"https://api.labelbox.com/masks/feature/ckamniynt0zoq0zdrljcyh23e?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJja2FldTNyNnRma2k3MDcwMDRuMThubnl1Iiwib3JnYW5pemF0aW9uSWQiOiJja2FldTNyNjhma2kwMDcwMHJ5NHE2bXJpIiwiaWF0IjoxNTkwNTIzMTEwLCJleHAiOjE1OTMxMTUxMTB9.WeItFrBLe_qTwkJV9bpIkSbyv4rZQK8fDoZP6qovVBI"},{"featureId":"ckamnjoss0zlc0zd7liy1njsy","schemaId":"ckam25tm201m80zd7x2320t4f","title":"partyFavor","value":"partyfavor","color":"#FF8000","bbox":{"top":642,"left":2062,"height":488,"width":688},"instanceURI":"https://api.labelbox.com/masks/feature/ckamnjoss0zlc0zd7liy1njsy?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJja2FldTNyNnRma2k3MDcwMDRuMThubnl1Iiwib3JnYW5pemF0aW9uSWQiOiJja2FldTNyNjhma2kwMDcwMHJ5NHE2bXJpIiwiaWF0IjoxNTkwNTIzMTEwLCJleHAiOjE1OTMxMTUxMTB9.WeItFrBLe_qTwkJV9bpIkSbyv4rZQK8fDoZP6qovVBI"},{"featureId":"ckamnk9iy0zr50zdr8nakmsvn","schemaId":"ckam25tm401mm0zd7he0348u4","title":"redDart","value":"reddart","color":"#2A00FF","bbox":{"top":1545,"left":2163,"height":379,"width":351},"instanceURI":"https://api.labelbox.com/masks/feature/ckamnk9iy0zr50zdr8nakmsvn?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJja2FldTNyNnRma2k3MDcwMDRuMThubnl1Iiwib3JnYW5pemF0aW9uSWQiOiJja2FldTNyNjhma2kwMDcwMHJ5NHE2bXJpIiwiaWF0IjoxNTkwNTIzMTEwLCJleHAiOjE1OTMxMTUxMTB9.WeItFrBLe_qTwkJV9bpIkSbyv4rZQK8fDoZP6qovVBI"},{"featureId":"ckamnon1i0zuu0zd7upuh49he","schemaId":"ckam25tm101lu0zd7603331ec","title":"hairRoller","value":"hairroller","color":"#00FFAA","bbox":{"top":1536,"left":1529,"height":355,"width":259},"instanceURI":"https://api.labelbox.com/masks/feature/ckamnon1i0zuu0zd7upuh49he?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJja2FldTNyNnRma2k3MDcwMDRuMThubnl1Iiwib3JnYW5pemF0aW9uSWQiOiJja2FldTNyNjhma2kwMDcwMHJ5NHE2bXJpIiwiaWF0IjoxNTkwNTIzMTEwLCJleHAiOjE1OTMxMTUxMTB9.WeItFrBLe_qTwkJV9bpIkSbyv4rZQK8fDoZP6qovVBI"},{"featureId":"ckamnrfmq10050zd7b21w2dum","schemaId":"ckam25tm101lq0zd7vxspvwjc","title":"gyroscope","value":"gyroscope","color":"#D4FF00","bbox":{"top":1571,"left":364,"height":316,"width":260},"instanceURI":"https://api.labelbox.com/masks/feature/ckamnrfmq10050zd7b21w2dum?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJja2FldTNyNnRma2k3MDcwMDRuMThubnl1Iiwib3JnYW5pemF0aW9uSWQiOiJja2FldTNyNjhma2kwMDcwMHJ5NHE2bXJpIiwiaWF0IjoxNTkwNTIzMTEwLCJleHAiOjE1OTMxMTUxMTB9.WeItFrBLe_qTwkJV9bpIkSbyv4rZQK8fDoZP6qovVBI"}],"classifications":[]}'